{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        http-kit            {:mvn/version "2.3.0"}
        hiccup              {:mvn/version "1.0.5"}
        route-map           {:mvn/version "0.0.7-RC4"}}

 :paths ["src" "test"]

 :aliases {:nrepl {:extra-deps {nrepl                {:mvn/version "RELEASE"}
                                healthsamurai/matcho {:mvn/version "0.3.3"}
                                ring/ring-mock       {:mvn/version "0.4.0"}
                                cider/cider-nrepl    {:mvn/version "0.22.0-beta9"}}

                   :main-opts ["-m" "nrepl.cmdline" "--middleware"
                               "[cider.nrepl/cider-middleware]"]}


           :test {:extra-deps {ring/ring-mock       {:mvn/version "0.4.0"}
                               lambdaisland/kaocha  {:mvn/version "0.0-529"}
                               healthsamurai/matcho {:mvn/version "0.3.3"}}

                  :main-opts ["-m" "kaocha.runner" "unit"
                              "--reporter kaocha.report/documentation"]}

           :test-coverage {:extra-deps {ring/ring-mock                {:mvn/version "0.4.0"}
                                        lambdaisland/kaocha           {:mvn/version "0.0-529"}
                                        lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}
                                        healthsamurai/matcho          {:mvn/version "0.3.3"}}

                           :main-opts ["-m" "kaocha.runner" "unit"
                                       "--reporter kaocha.report/documentation"
                                       "--plugin cloverage --codecov"]}


           :format {:extra-deps {com.jameslaverack/cljfmt-runner
                                 {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                  :sha     "51f85c9d6cc67107620749ceacd46120647fe107"}}

                    :main-opts ["-m" "cljfmt-runner.check"]}


           :format/fix {:extra-deps {com.jameslaverack/cljfmt-runner
                                     {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                      :sha     "51f85c9d6cc67107620749ceacd46120647fe107"}}

                        :main-opts ["-m" "cljfmt-runner.fix"]}

           :eastwood {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
                      :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
